@charset "utf-8";

body {
    font: 16px/1.5 "Maven Pro", "Noto Snas KR", sans-serif;
    color: #000;
}

a, a:link {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.blind {
    display: none;
}

#modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, .3);
    display: none;
}

.message {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: ivory;
}

.message h2 {
    background: rgb(37, 11, 122);
    color: #fff;
    padding: 10px 20px;
    font-weight: 100;
}

#close_x {
    color: #fff;
    background: none;
    border: 0;
    font-size: 2rem;
    position: absolute;
    right: 10px;
    top: 3px;
    cursor: pointer;
    font-weight: 100;
}

.message p {
    text-align: center;
    margin-top: 40px;
}

#close_ok {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(37, 11, 122);
    color: #fff;
    border: 0;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

#close_ok:hover {
    background: rgb(50, 29, 121);
}

.ad {
    background: cornflowerblue;
    position: relative;
    height: 80px;
}

.ad_img {
    max-width: 1100px;
    margin: 0 auto;
}

.ad_close {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 14px;
    padding: 0 5px;
    background: rgb(126, 126, 126);
    color: #fff;
}

.header_wrap {
    border-bottom: 1px solid #333;
    height: 90px;
    overflow: hidden;
    background: #000;
}

#wrapInner {
    max-width: 1100px;
    height: 90px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#innerLeft, #innerRight {
    width: 480px;
    overflow: hidden;
}

.vip {
    display: flex;
    margin-top: 15px;
}

.vip li {
    margin-right: 15px;
    text-transform: uppercase;
}

.left_box {
    display: flex;
    margin-top: 15px;
}

.left_box li {
    height: 36px;
    line-height: 36px;
}

.icon_left {
    display: flex;
}

.icon_left li {
    margin-right: 15px;
}

#gnbLeft {
    display: inline-flex;
}

#gnbLeft li {
    padding: 0 30px;
    text-align: center;
}

.member {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.member li {
    margin-left: 15px;
}

.right_box {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.right_box li {
    height: 36px;
    line-height: 36px;
}

#gnbRight {
    display: inline-flex;
}

#gnbRight > li {
    text-align: center;
    padding: 0 30px;
} 

.icon_right {
    display: inline-flex
}

.icon_right li {
    margin-left: 15px;
}

.best4_wrap {
    max-width: 1100px;
    margin: 0 auto;
}

#main {
    background: url("../images/bg-movie-detail-pattern.png"),url("../images/bg.jpg") no-repeat center / cover;
    padding: 50px 0 150px 0;
}

hgroup {
    max-width: 1100px;
    margin: 20px auto 20px;
    position: relative;
    height: 50px;
    color: #fff;
}

hgroup h3 {
    text-align: center;
}

hgroup h3::after {
    content: '';
    display: block;
    width: 79px;
    height: 2px;
    background: silver;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

hgroup h4 {
    position: absolute;
    right: 0;
}

#best4 {
    display: flex;
    margin: 0 -10px;
}

#best4 > li{
    width: calc(25% - 20px);
    margin: 0 10px;
}

#best4 > li:hover .overlay_info {
    opacity: 1;
}

#best4 .movie_poster {
    border-radius: 5px;
    overflow: hidden;
    font-size: 0;
    position: relative;
}

#best4 .movie_poster > img {
    max-width: 100%;
}

.best4_wrap {
    position: relative;
}

.rank {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 2rem;
    color: #fff;
    font-style: italic;
}

.rank p {
    text-shadow: 2px 2px 3px #000;
}

.screen {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.screen > div {
    padding: 10px 15px;
    border-radius: 5px;
    margin: 3px;
    background: rgba(0, 0, 0, .4);
}

.overlay_info {
    opacity: 0;
    transition: all .4s;
    font-size: .875rem;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    padding: 20px;
}

.overlay_info p {
    margin:  20px 0;
}

.reviews {
    position: absolute;
    width: calc(100% - 20px);
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    text-align: center;
}

.score {
    color: aqua;
    font-size: 1.55rem;
    font-weight: bolder;
    margin-left: 10px;
    letter-spacing: 1px;
}

.box_btns {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.favorite {
    border: 1px solid #fff; 
    border-radius: 5px;
    padding: 5px 20px;
    color: #fff;
    font-size: 1rem;
}

.heart {
    display: inline-block;
    width: 17px;
    height: 15px;
    background: url("../images/ico-heart-toggle-main.png");
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.booking {
    border: 1px solid transparent;
    border-radius: 5px;
    background: rgb(9, 103, 116);
    color: #fff;
    text-align: center;
    padding: 5px 60px;
    font-size: 1rem;
}

#search_extra {
    background: rgba(0, 0, 0, .7);
    border-radius: 5px;
    display: flex;
    margin-top: 50px;
    text-align: center;
}

#search_extra > div {
    flex: 1;
    position: relative;
    padding: 20px 0;
    color: #fff;
}

#search_extra > div::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 25%;
    width: 1px;
    height: 50%;
    background: ivory;
}

#search_extra > div:nth-last-child(1)::after {
    display: none;
}

#search_extra > div img{
    position: relative;
    top: 5px;
    letter-spacing: -5px;
}

#search input[type=text]{
    outline: 0;
    background: none;
    border: 0;
    border-bottom: 2px solid ivory;
    color: #fff;
    text-indent: 5px;
}

#mouse {
    position: absolute;
    left: 50%;
    bottom: -70px;
    transform: translateX(-50%);
}

article:nth-of-type(2) {
    background: #fff;
}

.benefit_wrap {
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}

.benefit_wrap h3 {
    font-size: 1.125rem;
    position: relative;
    margin: 30px 0 10px 0;
}

#benefit {
    position: absolute;
    right: 0;
    font-size: 1.250rem;
    cursor: pointer;
}

.fit_box{
    overflow: hidden;
}

.fit_left {
    float: left;
    width: calc(100% - 430px);
    position: relative;
}

#carousel{
    height: 285px;
    overflow: hidden;
    position: relative;
}

#control {
    position: absolute;
    bottom: 10px;
}

#slideText{
    position: absolute;
}

#slideImg{
    position: absolute;
    right: 0;
}

#camapaign {
    display: flex;
    flex: 1;
}

#camapaign img {
    max-width: 100%;
}

.fit_right{
    float: right;
    width: 415px;
}